{% extends "base.html" %} {% load render_table from django_tables2 %}
{% block title %} Departments {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}
<!-- {% block sidebar %}
  {% include 'rec-sidebar.html' %}
{% endblock sidebar %} -->
{% block content %}

<div class="content" style="width: 100%">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Department List - {{table.rows|length}} </h4>
        </div>
        <div class="card-body">
          {% render_table table %}
          <div id="new_pagination" style="margin-top: 10px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->