{% extends "base.html" %}
{% load django_tables2 %}
{% block title %} Item Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="display: flex;">
          <h4 class="card-title">
            {{ Item_data.name }} - {{table.rows|length}}
          </h4>
          {% include "item_edit_button.html" %}
        </div>
        <div class="card-body">
          {%render_table table%}
          <div id="new_pagination" style="margin-top: 10px"></div>
          <div class="d-flex">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
